# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.vscode
.DS_Store
node_modules

.cache
coverage
test-results

/prisma/sqlite.db

*.local*

.env*
.envrc

.eslintcache
